* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
  .box-sizing(border-box);
}

body {
  width: 100%;
  margin: 0 auto;
  background: @background;
  color: @smoke;
  font: 16px/1.5em normal "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.font-league {
  font-family: "LeagueGothicRegular", Arial, sans-serif;
}

.tw-layout {
  margin: 0 50px ;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

/**
 * HEADER
 */

.tw-header {
  text-align: center;
  margin: 40px 0 30px 0;
}

.tw-header h1 {
  .font-league();
  letter-spacing: 0px;
  font-size: 124px;
  line-height: 124px;
  margin: 0 20px ;
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

.tw-header h1 a {
  color: @textcolor;
  text-decoration: none;
}

.tw-header h1 a .suffix {
  color: @textcolor;
  .transition(color 0.5s ease);
}

.tw-header h1 a:hover .suffix {
  color: @smoke;
}

.tw-header p {
  color: @headersubline;
  font-size: 20px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.tw-header p .source {
  line-height: 40px;
  color: @greylight;
}

.tw-header p .quotes {
  font-size: 32px;
  position: relative;
  top: 8px;
  padding: 0 2px;
}

/**
 * NAVIGATION
 */

.tw-navigation {
  color: @navforeground;
  background: @navbackground;
  margin-bottom: 50px;
}

.tw-navigation ol {
  margin: 0;
  padding: 0;
}

.tw-navigation ol li {
  list-style: none;
}

.tw-navigation ol li a {
  background: @navbackground;
  text-align: center;
  color: darken(@navbackground, 30%);
  border: none;
  border-right: 1px solid @navforeground;
  text-decoration: none;
  margin: 0;
  padding: 6px 10px;
  display: block;
  float: left;
  font-size: 24px;
  line-height: 40px;
  width: 122px;
  position: relative;
  text-transform: uppercase;
  .transition(color 0.25s ease);
}

.tw-navigation ol li.last a {
  border-right: none;
}

.tw-navigation ol li a:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: @navbackground transparent;
  display: block;
  width: 0;
  .transition(bottom 0.5s ease);
}

.tw-navigation ol li a:hover,
.tw-navigation ol li a.active {
  color: @navforeground;
}

.tw-navigation ol li a.active:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: @navbackground transparent;
  display: block;
  width: 0;
}

.tw-navigation ol li a:hover:after {
  bottom: -10px;
}

.tw-navigation form {
  margin: 0;
  padding: 0;
}

.tw-navigation {
  input {
    color: @navforeground;
    outline: none;
    border: 1px solid @navbackground;
    background: lighten(@navbackground, 20%);
    float: right;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 250px;
    font-size: 24px;
    border-radius: 0;
    .transition(background 0.5s ease);
  }
  .placeholder-color(darken(@navbackground, 30%););
  .placeholder-hover-color(@greylight);
  .placeholder-focus-color(@greylight);
  input:hover {
    background: @smoke;
  }
}

.tw-navigation input:focus {
  outline: none;
  background: @smoke;
}

/**
 * CONTENT AREA
 */

.tw-content {

}

/**
 * TWOTE LIST
 */

ol.tw-twotes {
  color: @textcolor;
  margin: 0;
  padding: 0;
}

ol.tw-twotes li {
  color: @smoke;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "LeagueGothicRegular", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  border-top: 1px solid @grey;
  margin: 0;
  padding: 20px 20px 15px 20px;
  // letter-spacing: 2px;
  cursor: pointer;
  .transition(background 0.2s linear);
}

ol.tw-twotes li:hover {
  background: @grey;
}

ol.tw-twotes li .item {
  display: block;
  float: left;
  margin-right: 1em;
}

ol.tw-twotes li .votecount,
ol.tw-twotes li .lastvote {
  font-size: 24px;
  color: @textcolor;
}

ol.tw-twotes li .votecount {
  color: @greylight;
  width: 120px;
}

ol.tw-twotes li .lastvote {
  float: right;
}

ol.tw-twotes li.head,
ol.tw-twotes li.head:hover {
  border: none;
  background: none;
  cursor: default;
}

ol.tw-twotes li.head .votecount {
  line-height: 24px;
  font-size: 24px;
}

ol.tw-twotes li.head .topic {
  line-height: 24px;
  font-size: 24px;
}

ol.tw-twotes li.head .lastvote {
  line-height: 24px;
  font-size: 24px;
}

/**
 * FOOTER
 */

.tw-footer {
  display: block;
  margin: 100px 0 25px 0;
  text-align: center;
  font-size: 14px;
}

/**
 * CLEAR FIX
 */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
