@yellow: #E2C94B;
@black: #101010;
@smoke: #f5f5f5;
@lightgrey: #606060;
@grey: #272727;

@headersubline: @smoke;
@background: @black;
@textcolor: @yellow;

@navbackground: @yellow;
@navforeground: @black;
